div#main_aside_div {
    position: relative;
    height: 100%;
    width: 10px;
    right: 0;
    display: none;
    z-index: 6;
}
div#chat_bot_side_nav_div {
    display: none;
    height: 100%;
    width: 0px;
    position: fixed;
    overflow-x: hidden;
    z-index: 6;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color:#262626;
    transition: .25s;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    /* Needs to be display: block */
}

div#activate_chat_window_inner_div {
    position: fixed;
    width: 360px;
    height: 107.5%;
    background-color: #5a5a5a;
    right: -200px;
    left: 340px;
    top: 28.5px;
    border-radius: 1em;
    transition: .75s;
    opacity: .75;
    z-index: 6;
}

div#chat_bot_convo_div {
    height: 75%;
    width: 0px;
    position: fixed;
    left:90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f2f0ec;
    z-index: 6;
}

span#open_close_chat_bot_aside {
    position: fixed;
    z-index: 7;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    height: 130px;
    width: auto;
    transition: .75s
    display: none;
}

img#chat_bot_image {
    margin: auto;
    height: 50%;
    width: auto;
    background: #262626;
    padding: 7.5px;
    transform: rotate(-90deg);
    opacity: .75;
    transition: .5s;
    -webkit-border-radius: 1em;
    display: none;
    z-index: 5;
}

div#click_for_live_chat_div {
    display: none;
    position: fixed;
    top: 47.5%;
    left: 75%;
    transform: translate(-50%, -75%);
    width: auto;
    height: auto;
    background-color: #262626;
    color: #f2f0ec;
    text-align: center;
    z-index: 6;
    border-radius: 1em;
    transition: .75s;
}

div#click_for_live_chat_div p {
    padding: 5px;
    margin: 0;
    z-index: 6;
}

div#hover_for_live_chat {
    display: none;
    position: fixed;
    top: 45.5%;
    right: -25px;
    transform: translate(-50%, -50%);
    background-color: #262626;
    color: #f2f0ec;
    border-radius: .5em;
    transform: rotate(-90deg);
    z-index: 6;
    opacity: .75;
    text-align: center;
    width: 75px;
    transition: .75s;
    border: 1px solid #5a5a5a;
}

div#hover_for_live_chat:hover {
    cursor: pointer;
}

div#hover_for_live_chat p {
    padding: 2.5px;
    margin: 0;
    font-size: 1em;
    z-index: 6;
}

div#created_hover_div {
    display: none;
    position: fixed;
    width: 350px;
    height: 350px;
    right: -500px;
    top: 46.5%;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: -1;
    transition: .75s;
    border: 1px solid #262626;
    border-radius: 1rem;
}

div#live_chat_hover_close_div {
    display: none;
    position: fixed;
    right: -200px;
    top: 46.75%;
    z-index: 6;
    transition: .75s;
    color: #262626;
    border-radius: 50%;
    padding: 0px;
}

i#live_chat_hover_close {
    font-size: 2.5em;
    z-index: 6;
}

i#live_chat_hover_close:hover {
    cursor: pointer;
    text-shadow: 0px 0px 1.5px #3366ff;
}

div#live_chat_live_chat_close_div {
    position: fixed;
    right: -75%;
    top: 65px;
    z-index: 6;
    transition: .75s;
    color: #fff;
    /* background-color: #f2f0ec; */
    border-radius: 50%;
    padding: 0px;
}

i#live_chat_live_chat_close_icon {
    font-size: 2.25em;
    z-index: 6;
}

i#live_chat_live_chat_close_icon:hover {
    cursor: pointer;
    text-shadow: 0px 0px 10px #3366ff;
}

div#chat_bot_conversation_display_div {
    position: fixed;
    width: 350px;
    height: 82.6875%;
    background-color: #f2f0ec;
    left: 340px;
    right: -200px;
    bottom: -40px;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 6;
    top: 28.5px;
    border-radius: 1em;
    transition: .75s;
    overflow: scroll;
}

div#chat_bot_conversation_display_div p {
    font-size: 1em;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    margin-left: 5px;
    text-align: left;
    color: #262626;
}

div#user_input_div {
    position: fixed;
    bottom: -7.75px;
    left: 335px;
    width: 350px;
    transition: .75s;
    z-index: 6;
}

textarea#user_input_input {
    background-color: #f2f0ec;
    border-radius: .5em;
    z-index: 6;
}

div#user_input_submit_div {
    position: fixed;
    bottom: -56.5px;
    right: -335px;
    transition: .75s;
    z-index: 6;
}

input#user_input_submit_submit {
    background-color: #262626;
    color: #f2f0ec;
    z-index: 6;
}

input#user_input_submit_submit:hover {
    cursor: pointer;
}

div#activated_chat_full_page_modal {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #262626;
    opacity: .75;
    z-index: 5;
    transition: 1.25s;
}

