head,
body,
nav,
footer,
div,
table, 
span {
  font-family: "Ubuntu", sans-serif;
}

body {
  position: relative;
}

/*  Navigation Bar  */

nav#main-navbar {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Color Scheme */

.off-white {
  background-color:#f2f0ec ;
}

/* Text Color */
p {
  /* color: #262626 */
}

/* Header, Footer Color Scheme */
#footer-main {
  background-color: #262626;
  color: #f2f0ec;
}


/* Footer - Social Media Icons, Privacy Policy Link
Admin Page Link Colors */
a#footer_fb_icon,
a#footer_twitter_icon,
a#footer_google_plus_icon,
a#footer_linkedin_icon, 
a#footer_youtube_icon,
a#footer_privacy_policy_link,
a#footer_admin_login_link,
a#footer_blog_page_link {
  color: #f2f0ec;
}

/* Footer - Privacy Policy Link, Admin Page Link Hover Colors */
a#footer_privacy_policy_link:hover,
a#footer_admin_login_link:hover,
a#footer_llc_info_link:hover,
a#footer_blog_page_link:hover {
  color:#000;
  text-shadow: -.5px -.5px 7.5px #3366ff;
}

/* Home - Carousel - Text - Color Scheme */
div.carousel-caption {
  color: black;
}

/* Contact - Hours Of Operation Table Color */
table#contact_hours_of_operation_table_table {
  border: 1px solid #262626; 
}

thead#contact_hours_of_operation_table_thead tr th {
  background-color: #262626;
  border-color: #262626;
}

table#contact_hours_of_operation_table_table td,
table#contact_hours_of_operation_table_table th {
  background-color: #fff;
}

/* Contact - Form - Submit Button Color */
input#contact-submit-button {
  background-color: #262626;
  color: #f2f0ec;
  border: none;
}

input#contact-submit-button:hover {
  background-color: #3366ff;
  color: #fff;
  border: .5px solid #262626;
}

/* Navigation Bar - Main Div */
div#navbar_main_navbar_div {
  margin: 0px; 
  position: relative; 
  background-color: #262626;
  color: #f2f0ec;
  z-index: 0;
} 
nav#navbar_main_navbar_navbar {
  padding: 0px;
}

/* Navigation Bar - Left Container */
div#navbar_left_container {
  height: 100%;
  width: 100%;
  z-index: 10;
}

div#navbar_left_container h3 {
  margin: 0px;
  padding: 0px;
  letter-spacing: -1.5px;
  font-weight: normal;
}

div#navbar_right_container {
  width: 100%;
  height: 100%;
  text-align: right;
  z-index: 10;
}

/* Media Queries */
@media (max-width: 575px) {
  div#navbar_left_container h3 {
    font-size: 1.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  div#navbar_right_container a,
  div#navbar_right_container_expand_button_div {
    margin: 0 auto;
    text-align: center;
  }
  img#navbar_sarsour_and_brown_logo {
    position: absolute;
    opacity: .225;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }
  span#navbar_llc_span {
    font-style: italic;
    font-size: 1.125rem;
  }
}

@media (min-width: 576px) {
  div#navbar_left_container h3 {
    font-size: 1.5rem;
    margin-left: 10%;
  }
  li.navbar_right_container_links_list_item {
    font-size: .85rem
  }
  div#navbar_right_container {
    margin-right: 4.0%;
  }
  img#navbar_sarsour_and_brown_logo {
    position: absolute;
    opacity: .225;
    height: 125%;
    top: -7.5%;
    left: 80%;
    transform: translateX(-82.5%)
  }
  span#navbar_llc_span {
    font-style: italic;
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  div#navbar_left_container h3 {
    font-size: 2.0rem;
    margin-left: 12.5%;
  }
  li.navbar_right_container_links_list_item {
    font-size: 1.05rem
  }
  div#navbar_right_container {
    margin-right: 5.5%;
  }
  img#navbar_sarsour_and_brown_logo {
    position: absolute;
    opacity: .225;
    height: 150%;
    top: -15%;
    left: 82.5%;
    transform: translateX(-82.5%)
  }
  span#navbar_llc_span {
    font-style: italic;
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  div#navbar_left_container h3 {
    font-size: 2.75rem;
    margin-left: 15%;
  }
  li.navbar_right_container_links_list_item {
    font-size: 1.15rem
  }
  div#navbar_right_container {
    margin-right: 7%;
  }
  img#navbar_sarsour_and_brown_logo {
    position: absolute;
    opacity: .225;
    height: 175%;
    top: -25%;
    left: 85%;
    transform: translateX(-82.5%)
  }
  span#navbar_llc_span {
    font-style: italic;
    font-size: 1.875rem;
  }
}


@media (min-width: 1200px) {
  div#navbar_left_container h3 {
    font-size: 3.25rem;
    margin-left: 17.5%;
  }

  li.navbar_right_container_links_list_item {
    font-size: 1.25rem
  }
  div#navbar_right_container {
    margin-right: 8.5%;
  }
  img#navbar_sarsour_and_brown_logo {
    position: absolute;
    opacity: .225;
    height: 200%;
    top: -40%;
    left: 87.5%;
    transform: translateX(-82.5%)
  }
  span#navbar_llc_span {
    font-style: italic;
    font-size: 2.25rem;
  }
}

@media (min-width: 1500px) {
  img#navbar_sarsour_and_brown_logo {
    position: absolute;
    opacity: .225;
    height: 200%;
    top: -40%;
    left: 88.75%;
    transform: translateX(-82.5%)
  }

}

span#navbar_llc_span {
  color: #41474a;
}

/* Navigation Bar - Right Container */
div#navbar_right_container {
  width: 100%;
  height: 100%;
  text-align: right;
}

div#navbar_left_container,
div#navbar_right_container {
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Navigation Bar - Toggler Button */
div#navbar_right_container_expand_button_div {
  max-width: 100%;
  height: 100%;
}
button#navbar_right_container_expand_button_button {
}
span#navbar_right_container_expand_button_span {}

/* Navigation Bar - Links */
div#navbar_right_container_links_div {}
ul#navbar_right_container_links_ul {

}
ul#navbar_right_container_links_ul li {
  z-index: 2;
}

li.navbar_right_container_links_list_item a {
  text-decoration: none;
  color: #f2f0ec;
}

li.navbar_right_container_links_list_item a:hover {
  color: #3366ff;
  font-weight: bold;
  text-shadow: -.5px -.5px 10px #000;
}




/* Carousel - Carousel Div */
div.carousel-item,
div.carousel-item img {
  max-height: 650px;
  /* TODO - for some reason the third image extends further than 
    650 px when in mobile view (small) */
}

div.carousel-caption {
  bottom: 0px;
}

div.carousel-caption h1 {
  font-size: 40px;
}

div.carousel-caption h3 {
  font-size: 22.5px;
}

div#home-main-container {
  padding: 25px;
}

/* About Page */

#about_8_col,
#about_4_col {
  margin-top: 10px;
}

#about_8_col {
  padding-left: 30px;
}

#about_4_col {
  padding-right: 30px;
}



/* About Page - Google Map */

div#about_map_div {
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

div#about_map_div h3,
div#about_map_div p {
  text-align: center;
}

div#map {
  width: 100%;
  height: 300px;
  background-color: grey;
}

p#map_div_refresh_suggestion_paragraph {
  margin-top: 15px;
  font-size: .75em;
}

/* About Page - Specialization Cards */

div#about_specialization_card_div {
  text-align: center;
  max-width: 100%;
  transition: .75s;
}

div#about_specialization_card_plus_complimentary_text {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.about_specialization_card_card {
  height: 20%;
  width: 45%;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 10px;
  background-color: #262626;
  border: none;
  border-radius: 1em;
  transition: .75s;
}

div.about_specialization_card_complimentary_text {
  width: 50%;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 10px;
}

div.about_specialization_card_complimentary_text p {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.about_card_img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: .5em;
  opacity: .375;
  transition: .75s;
}

div.about_specialization_card_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2f0ec;
  transition: 1.5s;
}

/* Specialization Card - Responsive Media Queries */

@media (min-width: 1500px) {
  img.about_card_img {
    max-height: 250px;
    height: 250px;
  }
  div.about_specialization_card_card {
    margin-left: 5%;
    max-width: 30%;
  }
} 

@media (min-width: 1200px) and (max-width: 1499px) {
  img.about_card_img {
    max-height: 250px;
    height: 250px;
  }
  div.about_specialization_card_card {
    margin-left: 5%;
    max-width: 37.5%;
  }
} 

@media (min-width: 979px) and (max-width: 1199px) {
  img.about_card_img {
    height: 200px;
  }
  div.about_specialization_card_card {
    margin-left: 5%;
    max-width: 40%;
  }
}

@media (min-width: 769px) and (max-width: 978px) {
  img.about_card_img {
    height: 180px;
  }
  div.about_specialization_card_card {
    margin-left: 5%;
    max-width: 42.5%;
  }
  div#about_specialization_card_text_im h3 {
    font-size: 1.5em;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  img.about_card_img {
    height: 140px;
  }
  div.about_specialization_card_card {
    margin-left: 5%;
    max-width: 45%;
  }
  div#about_specialization_card_text_im h3 {
    font-size: 1.25em;
  }
}

@media (min-width: 200px) and (max-width: 479px) {
  img.about_card_img {
    height: 100px;
    max-height: 100px;
  }
  div.about_specialization_card_card {
    margin-left: 5%;
    max-width: 45%;
  }
  div#about_specialization_card_text_im h3 {
    font-size: 1.0em;
  }
}

@media (max-width: 199px) {
  div#about_specialization_card_text_im h3 {
    font-size: .75em;
  }
}


/*  Contact Page  */

/* Contact Page - Form */

form#inquiry-form input {
  margin-bottom: 7.5px;
}

form input#contact-submit-button {
  margin-top: 15px;
}

/* Contact Page - Top Div - Parent */

div.row#exception-spacing-top-contact-row {
  margin-left: 0;
  margin-right: 0;
}

div#contact-top-parent-div {
  max-width: 100%;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Contact Page - Top Div - Child */

div.contact-top-child-div {
  max-width: 75%;
  margin: 0 auto;
  margin-left: 15px;
  margin-right: 15px;
}

div.contact-top-child-div h3 {
  text-align: center;
}

ul#contact_phone_number_unordered_list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul#contact_phone_number_unordered_list,
li.contact_phone_number {
  list-style-type: none;
  text-decoration: none;
}

hr#contact_phone_number_ul_hr {
  width: 90%;
  margin-left: 0px;
}

.sarsour_and_brown_external_link:link {
  color: #3366ff;
  list-style-type: none;
  text-decoration: none;
}

.sarsour_and_brown_external_link:link:hover {
  color: #000;
  text-shadow: -.5px -.5px 7.5px #3366ff;
}

/* Contact Page - Hours Of Operation */
div#contact_hours_of_operation_table_div {
  max-width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

table#contact_hours_of_operation_table_table {
  text-align: center;
}

table#contact_hours_of_operation_table_table th {
  font-weight: normal;
}

/* Contact Page - Media Specific HR */
@media (max-width: 429px) {
  hr#about_media_spaced_hr {
    display: block;
  }
}

@media (min-width: 430px) {
  hr#about_media_spaced_hr {
    display: none;
  }
}

/* Contact Page - Loader */

div#form_full_page_modal_loader {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,.75)
}

div#form_submit_loader_div.container {
  margin: 0;
  padding: 0;
}

ul#form_submit_loader_ul {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 22.5px;
  padding-right: 22.5px;
  transform: translate(-50%, -50%);
  display: flex;
  background rgba(255,255,255, 1);
}

li.form_submit_loader_li {
  list-style: none;
  width: 2.5px;
  height: 40px;
  background: black;
  margin: 0 4px;
  padding: 7.5px;
  animation: load 0.6s infinite alternate;
}

@keyframes load {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1);
    background: grey;
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(3);
  }
}

li.form_submit_loader_li:nth-child(1) {
    animation-delay: .1s;
}
li.form_submit_loader_li:nth-child(2) {
    animation-delay: .2s;
}
li.form_submit_loader_li:nth-child(3) {
    animation-delay: .3s;
}
li.form_submit_loader_li:nth-child(4) {
    animation-delay: .4s;
}
li.form_submit_loader_li:nth-child(5) {
    animation-delay: .5s;
}
li.form_submit_loader_li:nth-child(6) {
    animation-delay: .6s;
}

/* Contact Feedback Page */

div#contact_feedback_header {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

div#contact_feedback_paragraph {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

div#logo-lower-right-hand-corner {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
}
/* Footer - Footer */

footer#footer-main {
  position: relative;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  text-align: center;
}

div#main_footer_container {
  max-width: 85%;
}

/* Footer - Logo */
div#footer_logo_div {
  /* position: absolute; */
}

img#footer_logo_logo {
  position: absolute;
  height: 25px;
  right: 15px;
  bottom: 11.25px;
}

/* Footer - Social Media Links */

div#social-media-links a {
  font-size: 22.5px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  transition: 0.25s;
}

/*  Footer - Social Media Specific Colors */

a#footer_fb_icon:hover,
a#footer_fb_icon:focus {
  color: rgb(59, 89, 152);
}

a#footer_twitter_icon:hover,
a#footer_twitter_icon:focus {
  color: rgb(29, 161, 242);
}

a#footer_google_plus_icon:hover,
a#footer_google_plus_icon:focus {
  color: rgb(219, 68, 55);
}

a#footer_linkedin_icon:hover,
a#footer_linkedin_icon:focus {
  color: rgb(0, 119, 181);
}

a#footer_youtube_icon:hover,
a#footer_youtube_icon:focus {
  color: rgb(204, 24, 30);
}

/* Footer - Copyright Info */

/* Footer - Links (Decoration/Hover) */

p#footer_address_paragraph,
a#footer_llc_info_link,
a#footer_privacy_policy_link,
a#footer_admin_login_link,
a#footer_blog_page_link,
p#footer_disclaimer_paragraph {
  font-size: 0.75rem;
  text-decoration: none;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

/* Footer - Privacy Policy, Admin Login Link Container */

div#footer_supplemental_link_container.container {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

div#footer_supplemental_link_container.container p {
  display: inline-block;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

/* Footer - Privacy Policy Link */

/* Footer - Admin Login Link */

/* Footer - Logo */

img#sarsour_and_brown_logo_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
}

/*  Testimonials Page  */

/* Privacy Policy Page */

div#privacy_policy_container {
  text-align: left;
  margin-top: 15px;
}

div#privacy_policy_container h5,
div#privacy_policy_container h3 {
  font-weight: bold;
}

div#privacy_policy_contact_info_container p {
  text-align: center;
  padding-top: -15px;
  padding-bottom: -15px;
}

/* Section Divider Div */

div.black-section-filler-div {
  background-color: black;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}

/* Login Page */

/* Login Page - Main Form Div */

div#main-login-div.container {
  width: 100%;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Login Page - Form */
/* Profile Page - User Greeting */

p#profile_user_greeting {
  margin-top: 16px;
}

/* Profile Page - Entries Table Div */

div#profile_entries_table_div.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  padding: 0px;
}

/* Profile Page - Entries Table */

table#profile_entries_table_table thead,
table#profile_entries_table_table tr,
table#profile_entries_table_table td {
  text-align: center;
  vertical-align: middle;
  padding: 7.5px;
}

tr#profile_entries_table_tr_completed {
  text-decoration: line-through;
}

div#profile_entries_logout_button_div,
div#profile_entries_blog_page_button_div {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div#profile_generate_pdf {
  width: 100%;
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

a#profile_generate_pdf_button {
  margin-left: 78.5%;
  /* transform: translateX(-90%); */
}

/* Section Separator Div */

/* div.selection_separator_outer_div {
  width: 100%;
  background: black;
  height: 30px;
}

div.selection_seperator_inner_div {
  width: 90%;
  background: white;
  margin: 0 auto;
  height: 15px;
} */