<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form role="form" action="/blog/new_blog/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Post" name="blog_submit">
    </form>

    <a href="{% url 'blog-view_blogs' %}">View All Blogs Here</a>
</body>
</html>