head, body, nav, footer, div, table {
    font-family: 'Ubuntu', sans-serif;
}

nav#main-navbar {
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

div#navbar-nav {
    background-color: black;
    /* TODO - I would like to add some opacity to this, so you 
    can see an image behind it but I don't want the text to be 
    affected  */
}

ul.navbar-nav.ml-auto li.nav-item a.nav-link {
    color: white;
}

ul.navbar-nav.ml-auto li.nav-item a.nav-link:hover {
    color: grey;
    font-weight: bold;
}

nav.navbar.navbar-expand-sm a.navbar-brand {
    letter-spacing: -1.5px;
    font-size: 40px;
    color: rgb(255,255,255);
    /* -webkit-text-fill-color: white; Will override color (regardless of order) */
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;
    
}

ul.navbar-nav.ml-auto li.nav-item {
    font-size: 18px;
}

nav.navbar.navbar-expand-sm button.navbar-toggler span.navbar-toggler-icon {
    background-color: white;
    /* TODO - This needs to be fixed, the dark nav-bar covers up the 
    navbar-toggler-icon */
}

div.carousel-item, div.carousel-item img {
    max-height: 650px;
    /* TODO - for some reason the third image extends further than 
    650 px when in mobile view (small) */
}

div.carousel-caption {
    color: black;
    bottom: 0px;
}

div.carousel-caption h1 {
    font-size: 40px;
}

div.carousel-caption h3 {
    font-size: 22.5px;
}

#carousel_prev_button, #carousel_next_button {
    /* background-color: red; */
    /* TODO - fix this so only the carets themselves change color,
    not the entire background of the caret */
}

div#home-main-container {
    padding: 25px;
}

#about_8_col, #about_4_col {
    margin-top: 10px;
}

#about_8_col {
    padding-left: 30px;
}

#about_4_col {
    padding-right: 30px;
}

div.form-group {
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
}

input#id_first_name.form-control, 
input#id_last_name.form-control, 
input#id_email.form-control, 
textarea#id_body.form-control {
    margin-top: 5px;
    margin-bottom: 8px;
}

input#about_submit_button {
    margin-top: 10px;
}

 #parent_form_div {
    font-size: 16px;
    padding: 30px;
 }

 #contact_top_row_1 {
     padding-left: 25px;
 }

 #contact_top_row_2 {
	 padding-right: 25px;
 }

div#contact_feedback-div {
    top: 50px;
    margin-top: 10px;
    padding-top: 10px;
}

div#contact_feedback-div p, div#contact_feedback-div h3 {
    padding: 0px;
    margin: 0 auto;
}

footer#footer-main {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
    color: white;
    text-align: center;
}

div#social-media-links a {
    color: white;
    font-size: 22.5px;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

div#social-media-links a:hover , div#social-media-links a:focus{
    color: grey;
}

div#social-media-links-div.col {
    padding-top: 30px;

}

#bottom-page-link {
    font-size: 5px;
    text-decoration: none;
    color: white;
}

img#logo-lower-right-hand-corner {
    position: absolute;
    right: 0;
    width: 100%;
}
