<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Sarsour And Brown</title>
  </head>
  <body
    style="font-family: 'Ubuntu', sans-serif;
    background-color: #5a5a5a;
    color: #f2f0ec;"
  >
    <div
      id="main_div"
      style="background-color: #262626;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    border-radius: .5em;
    color: #f2f0ec"
    >
      <div
        id="inner_div"
        style="height: 100%;
    width: 100%;"
      >
        <div id="header"><p>Hi, {{first_name}}</p></div>
        <div id="content">
          <p>Thanks for contacting Sarsour and Brown.</p>
          <hr style="width: 75%" />
          <p>
            Your inquiry has been forwarded to a member of the Sarsour And Brown
            team.
          </p>

          <p>For immediate concerns, please contact:</p>
          <ul style="list-style-type: none;">
            <li style="list-style-type: none;">
              Nader Sarsour:
              <a
                href="tel:13053385907"
                style="text-decoration: none;
    color: #5a5a5a;"
                >305-338-5907</a
              >
            </li>
            <li style="list-style-type: none;">
              Carlianne Brown:
              <a
                href="tel:17343470897"
                style="text-decoration: none;
    color: #5a5a5a;"
                >734-347-0897</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
