<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Automated Message</title>
</head>
<body>
    <h3>New Inquiry from {{first_name }} {{last_name }} at {{email}} </h3>
    <p>{{first_name}} says:</p>
    <p>{{body}}</p>
    {% if phone_number %}
    <p>{{first_name}} can be contacted at {{phone_number}}</p>
    {% endif %} 
</body>
</html>