<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" />
    <title>Generated PDF</title>
</head>

<body>
    {% if all_entries %}

    <div class="container" id="profile_entries_table_div">
        <table class="table table-bordered" id="profile_entries_table_table">
            <thead class="thead-dark">
                <tr id="profile_entries_table_tr">
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Inquiry</th>
                    <th scope="col">Date Posted</th>
                </tr>

            </thead>
            {% for entry in all_entries %}
            {% if entry.completed %}
            <tr class="profile_entries_table_tr" id="profile_entries_table_tr_completed">
                <td>{{ entry.first_name }} {{ entry.last_name }}</td>
                <td>{{ entry.email }}></td>
                <td>{{ entry.phone_number }}</td>
                <td>{{ entry.body }}</td>
                <td>{{ entry.date_submitted }}</td>
            </tr>
            {% else %}
            <tr class="profile_entries_table_tr">
                <td>{{ entry.first_name }} {{ entry.last_name }}</td>
                <td>{{ entry.email }}</td>
                <td>{{ entry.phone_number }}</td>
                <td>{{ entry.body }}</td>
                <td>{{ entry.date_submitted }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% else %}
        <h1>There are currently no entries in the Database</h1>
        {% endif %}
    </div>

</body>

</html>