{% extends "home/base.html" %}

{% block contact_8_by_4_container %}
<div id="about_8_col" class="row">
	<div class="col-8">col-8
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
			Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
			nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
			nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
			pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
			tellus.
			Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
			feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
			ultricies
			nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
			condimentum
			rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
			pulvinar,
			hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
			Nullam
			quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec
			sodales
			sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
		</p>
	</div>
	<div id="about_4_col" class="col-4">col-4
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
			Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
			nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
			nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
			pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
			tellus.
			Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
			feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
			ultricies
			nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
			condimentum
			rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
			pulvinar,
			hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
			Nullam
			quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec
			sodales
			sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
		</p>
	</div>
</div>

<div class="container" id="about_specialization_card_div">
	<hr>
	<div id="about_specialization_header_paragraph">
		<p>Areas of Specialization</p>
	</div>
	<hr>
	<div class="card about_specialization_card_card">
		<img class="img-thumbnail about_card_img" src="/static/Immigration-Specialization.png" alt="Immigration Card">
		<div class="about_specialization_card_content">
			<h3>Immigration</h3>
		</div>

	</div>
	<hr>
	<div class="card about_specialization_card_card">
		<img class="img-thumbnail about_card_img" src="/static/Domestic-Relations-Specialization.jpg" alt="Immigration Card">
		<div class="about_specialization_card_content">
			<h3>Domestic Relations</h3>
		</div>

	</div>
	<hr>
	<div class="card about_specialization_card_card">
		<img class="img-thumbnail about_card_img" src="/static/Criminal-Defense-Specialization.jpeg" alt="Immigration Card">
		<div class="about_specialization_card_content">
			<h3>Criminal Defense</h3>
		</div>

	</div>
	<hr>
	<div class="card about_specialization_card_card">
		<img class="img-thumbnail about_card_img" src="/static/Child-Custody_Specialization.jpg" alt="Immigration Card">
		<div class="about_specialization_card_content">
			<h3>Child Custody</h3>
		</div>

	</div>
	<hr>
	<div class="card about_specialization_card_card">
		<img class="img-thumbnail about_card_img" src="/static/Estate-Planning-Specialization.jpg" alt="Immigration Card">
		<div class="about_specialization_card_content">
			<h3>Estate Planning</h3>
		</div>

	</div>
	<hr>

</div>

<div id="about_map_div">
	<h3>Find Us!</h3>
	<p>Our office is located in Downtown Toledo in the Maritiime Plaza on the corner of Summit and Main Street.
		We are directly adjacent to the Maumee River between the Promenade Docks and the Toledo-Lucas
		 County Port Authority.
	</p>
	<div id="map"></div>
	<p>Please refresh page if map doesn't load properly.</p>
</div>
{% endblock %}