{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>Sarsour And Brown</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <a href='#' class="navbar-brand">Sarsour &amp Brown, LLC</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="{% url 'home-page' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'about-page' %}" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'testimonials-page' %}" class="nav-link">Testimonials</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'contact-page' %}" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    {# The DIVS below will only be for the homepage, these need to be migrated to home.html #}
    {% block carousel_home %}
    {% endblock %}
    {% block contact_8_by_4_container %}
    {% endblock %}
    {% block contact_form %}
    {% endblock %}
     
    <div> {# TODO - I want to put a big open div here to have an extemely wide, panaramic picture #}
    </div>
    <div> {# TODO - I want to put another div here with a long stretched black banner-like object with some text#}
    </div>
    {% block body %}
    {% endblock %}
    {% block two_column_container %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

</html>