{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'validation_failure_modal.css' %}" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <title>Sarsour And Brown</title>
</head>

<body>
  <div class="navbar_border"></div>
  <nav class="navbar navbar-expand-sm" id="main-navbar">
    {% comment %} <img src="static/Sarsour_And_Brown_Logo_White.png" width=150 height=100 /> {% endcomment %}
    <a class="navbar-brand" id="sarsour_and_brown_nav_text">Sarsour &amp Brown, LLC</a>

    <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{% url 'home-page' %}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'about-page' %}" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'testimonials-page' %}" class="nav-link">Testimonials</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'contact-page' %}" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="navbar_border"></div>
  {% comment %} </div> {% endcomment %}
  {# The DIVS below will only be for the homepage, these need to be migrated to home.html #}
  {% block carousel_home %}{% endblock %}
  {% block contact_8_by_4_container %}{% endblock %}
  {% block contact_form %}{% endblock %}
  {% block form_data %}{% endblock %}
  {% block contact_feedback %}{% endblock %}
  {% block display_inquiries %}{% endblock %}
  {% block send_email %}{% endblock %}
  {% block body %}{% endblock %}
  {% block two_column_container %}{% endblock %}
  {% block testimonials_body %}{% endblock %}
  {% block privacy_policy %}{% endblock %}
  {% block account_login %}{% endblock %}
  {% block admin_profile %}{% endblock %}

  <footer id="footer-main">
    <div class="container" id="main_footer_container">
      <div class="container" id="footer-div">
        <div class="row">
          <div class="col">
            <p>Hello, this is my footer</p>
          </div>
          <div class="col">
            <p>Hello, this is also my footer</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col" id="social-media-links-div">
            <div class="flex-center" id="social-media-links">
              <a href="https://www.facebook.com/SarsourAndBrown/" class="fa fa-facebook" id="footer_fb_icon" target="_blank"></a>
              <a href="#" class="fa fa-twitter" id="footer_twitter_icon"></a>
              <a href="#" class="fa fa-google" id="footer_google_plus_icon"></a>
              <a href="#" class="fa fa-linkedin-square" id="footer_linkedin_icon"></a>
              <a href="#" class="fa fa-youtube" id="footer_youtube_icon"></a>
            </div>
          </div>
        </div>
      </div>

      {% comment %} Privacy Policy, Admin Links {% endcomment %}
      <div class="container" id="footer_supplemental_link_container">
        <div class="col">
          <a href="{% url 'privacy_policy' %}" id="footer_privacy_policy_link">Privacy Policy</a>
          <p>&#9679;</p>
          <a href="{% url 'profile-page' %}" id="footer_admin_login_link">Admin Page</a>
        </div>
      </div>
      <div class="container" id="footer_disclaimer_container">
        <div class="col">
          <p id="footer_disclaimer_paragraph">Disclaimer: Prior results do not guarantee similar outcome.</p>
        </div>
      </div>


      <div class="container">

        <div class="footer-copyright text-center">
          <a href="https://opencorporates.com/companies/us_oh/4100703" id="footer_llc_info_link" target="_blank">2018 Copyright Sarsour
            &amp Brown</a>
        </div>

        <div class="footer-copyright text-center">
          <p id="footer_address_paragraph">Sarsour &amp Brown, LLC - 2 Maritime Plaza - 3rd Floor - Toledo, Ohio
            43604</p>
        </div>

      </div>

      <div id="logo-lower-right-hand-corner">
        <img id="sarsour_and_brown_logo_footer" src="static/SB_Logo_Black.png" />
      </div>

    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="{% static 'main.js' %}" type="text/javascript"></script>
</body>

</html>