{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/validation_failure_modal.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/chatbot_aside.css' %}" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <title>Sarsour And Brown</title>
  <link rel="icon" sizes="11X11" type="image/x-icon" href="{% static 'images/logos/SB_Logo_Favicon.png' %}" />
</head>

<body class="off-white">

  <div id="navbar_main_navbar_div">
    <img id="navbar_sarsour_and_brown_logo" src="{% static 'images/logos/SB_Logo_White.png'%}" alt="Sarsour And Brown Logo">

    <nav class="navbar navbar-expand-sm" id="navbar_main_navbar_navbar">

      <div id="navbar_left_container">
        <h3 class="navbar-brand">Sarsour & Brown, <span id="navbar_llc_span">LLC</span></h3>
      </div>

      <div id="navbar_right_container">

        <div id="navbar_right_container_expand_button_div">

          <button class="navbar-toggler navbar-dark" id="navbar_right_container_expand_button_button" type="button"
            data-toggle="collapse" data-target="#navbar_right_container_links_div" aria-controls="navbar_right_container_links_div"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="navbar_right_container_expand_button_span"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar_right_container_links_div">
          <ul class="navbar-nav ml-auto" id="navbar_right_container_links_ul">
            <li class="nav-item navbar_right_container_links_list_item">
              <a href="{% url 'home-page' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item navbar_right_container_links_list_item">
              <a href="{% url 'about-page' %}" class="nav-link">About</a>
            </li>
            <li class="nav-item navbar_right_container_links_list_item">
              <a href="{% url 'testimonials-page' %}" class="nav-link">Testimonials</a>
            </li>
            <li class="nav-item navbar_right_container_links_list_item">
              <a href="{% url 'contact-page' %}" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>


      </div>

    </nav>

  </div>


  {% comment %} </div> {% endcomment %}
  {# The DIVS below will only be for the homepage, these need to be migrated to home.html #}
  {% block home-page %}{% endblock %}
  {% block contact_8_by_4_container %}{% endblock %}
  {% block contact_form %}{% endblock %}
  {% block form_data %}{% endblock %}
  {% block contact_feedback %}{% endblock %}
  {% block display_inquiries %}{% endblock %}
  {% block send_email %}{% endblock %}
  {% block body %}{% endblock %}
  <!-- {% block two_column_container %}{% endblock %} -->
  {% block testimonials_body %}{% endblock %}
  {% block privacy_policy %}{% endblock %}
  {% block account_login %}{% endblock %}
  {% block admin_profile %}{% endblock %}

  <footer id="footer-main">

    <div id="footer_logo_div">
      <a href="{% url 'home-page' %}"><img id="footer_logo_logo" src="/static/images/logos/SB_Logo_White.png" alt="Logo"></a>
    </div>

    <div class="container" id="main_footer_container">
      <div class="container">
        <div class="row">
          <div class="col" id="social-media-links-div">
            <div class="flex-center" id="social-media-links">
              <a href="https://www.facebook.com/SarsourAndBrown/" class="fab fa-facebook" id="footer_fb_icon" target="_blank"></a>
              <a href="#" class="fab fa-twitter" id="footer_twitter_icon"></a>
              <a href="#" class="fab fa-google" id="footer_google_plus_icon"></a>
              <a href="#" class="fab fa-linkedin" id="footer_linkedin_icon"></a>
              <a href="#" class="fab fa-youtube" id="footer_youtube_icon"></a>
            </div>
          </div>

        </div>
      </div>

      {% comment %} Privacy Policy, Admin Links {% endcomment %}
      <div class="container" id="footer_supplemental_link_container">
        <div class="col">
          <a href="{% url 'privacy_policy' %}" id="footer_privacy_policy_link">Privacy Policy</a>
          <p>&#9679;</p>
          <a href="{% url 'profile-page' %}" id="footer_admin_login_link">Admin Page</a>
          <p>&#9679;</p>
          <a href="{% url 'all_blogs' %}" id="footer_blog_page_link">Blog Page</a>
        </div>
      </div>
      <div class="container" id="footer_disclaimer_container">
        <div class="col">
          <p id="footer_disclaimer_paragraph">Disclaimer: Prior results do not guarantee similar outcome. Amounts
            listed may be aggregates.</p>
        </div>
      </div>


      <div class="container">

        <div class="footer-copyright text-center">
          <p id="footer_address_paragraph">
            <a href="https://opencorporates.com/companies/us_oh/4100703" id="footer_llc_info_link" target="_blank">2018
              Copyright Sarsour
              &amp Brown, LLC</a>
            - 2 Maritime Plaza - 3rd Floor - Toledo, Ohio
            43604</p>
        </div>

      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC20Wte_JjfGrdG1cdixhGjflg0oA0YtcM&callback=initMap"
    async defer></script>
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/chatbot_aside.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/rivescript.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/google-map.js' %}" type="text/javascript"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
</body>

</html>