{% extends "home/base.html" %}

{% block contact_form %}
	<div id="parent_form_div" class="container">
		<div class="row">
			<div class="col-6">
				<form>
					<div class="form-group">
						<label for="name">Name</label>
						<input class="form-control" type="text" name="name" placeholder="Enter Your Name">
						<label for="email">Email Address</label>
						<input class="form-control" type="text" name="email" placeholder="Enter Your Email Address">
						<label for="comment">Enter Comments Below</label>
						<textarea class="form-control" name="textarea" placeholder="Please Enter a Brief Description of the Inquiry." rows="10"></textarea>
						<input id="about_submit_button" type="submit" name="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p>Poopoo boy</p>
			</div>
		</div>
	</div>
{% endblock %}