{% extends "home/base.html" %}

{% block contact_form %}
<div id="contact-top-parent-div" class="container">
	<div class="row" id="exception-spacing-top-contact-row">
		<div class="col contact-top-child-div">
			<form id="inquiry-form" role="form" action="/contact/contact_feedback/" method="post">
				{% csrf_token %}
				{{ form }}
				<input class="btn btn-secondary" id="contact-submit-button" type="submit" value="Submit" name="submit">
			</form>
		</div>
		<div class="col contact-top-child-div">
			<h3>Connect With Us</h3>
			<p>Please enter your personal information in the form on the left of the page.</p>
			<p>All information actively collected will be used to best allow us to get in touch
				with you and most closely align ourselves with your
				personal needs. For a full breakdown of our data collection policy, please refer to our
				<a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
			</p>
			<hr>
			<h3>Hours Of Operation</h3>
			<div id="contact_hours_of_operation_table_div">
				<table class="table table-bordered" id="contact_hours_of_operation_table_table">
					<thead class="thead-dark" id="contact_hours_of_operation_table_thead">
						<tr>
							<th scope="col">Day</th>
							<th scope="col">Hours</th>
						</tr>
					</thead>
					<tr>
						<th scope="row">Monday</th>
						<td>8:00 AM - 5:00 PM</td>
					</tr>
					<tr>
						<th scope="row">Tuesday</th>
						<td>8:00 AM - 5:00 PM</td>
					</tr>
					<tr>
						<th scope="row">Wednesday</th>
						<td>8:00 AM - 5:00 PM</td>
					</tr>
					<tr>
						<th scope="row">Thursday</th>
						<td>8:00 AM - 5:00 PM</td>
					</tr>
					<tr>
						<th scope="row">Friday</th>
						<td>8:00 AM - 5:00 PM</td>
					</tr>
					<tr>
						<th scope="row">Saturday</th>
						<td>8:00 AM - 2:00 PM</td>
					</tr>
					<tr>
						<th scope="row">Sunday</th>
						<td>Available Upon Contact</td>
					</tr>

				</table>
			</div>
		</div>
	</div>
</div>

{% comment %} TODO - This modal is cool but let's implement one from bootstrap, they
look infinitely better
{% endcomment %}

<div id="validation_failure_modal_email">
	<div id="email-modal-content">
		<span id="email-validation_modal_span">&times;</span>
		<p>Please enter a valid email address.</p>
		<p>The correct format is:</p>
		<ul>
			<li>Letters and/or Digits before the @</li>
			<li>Letters and/or Digits after the @</li>
			<li>A valid top-level domain (ex: .com, .gov, .edu) at the end.</li>
		</ul>
	</div>
</div>
<div id="validation_failure_modal_phone_number">
	<div id="phone-number-modal-content">
		<span id="phone-number-validation_modal_span">&times;</span>
		<p>Please enter a valid phone number.</p>
		<p>The correct format is 9999999999 without spaces or hyphens.</p>
	</div>
</div>

<div id="form_full_page_modal_loader">
	<div id="form_submit_loader_div" class="container">
		<ul id="form_submit_loader_ul">
			<li class="form_submit_loader_li">
			</li>
			<li class="form_submit_loader_li">
			</li>
			<li class="form_submit_loader_li">
			</li>
			<li class="form_submit_loader_li">
			</li>
			<li class="form_submit_loader_li">
			</li>
			<li class="form_submit_loader_li">
			</li>
		</ul>
	</div>
</div>
{% endblock %}