{% extends 'home/base.html' %}

{% block display_inquiries %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Inquiry</th>
                <th scope="col">Date Posted</th>
            </tr>
        </thead>
        {% for item in query_results %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.body }}</td>
            <td>{{ item.date_submitted }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}