{% extends "home/base.html" %} {% load staticfiles %} {% block home-page %}

<div id="background_image_div">
  <img
    src="{% static 'images/Court_Room.jpg' %}"
    alt="courtroom image"
    id="background_image_image"
  />
</div>
<div id="background_img_div_cover"></div>

<div class="multi_image_div_main_div">
  <div id="multi_image_div_image_div_1" class="full_page_image">
    <div class="multi_image_div_image_cover"></div>
    <img src="{% static 'images/Full_Page_Image_2.jpg' %}" alt="Nader Filler" class="multi_image_div_image_image">
    <p class="multi_image_div_paragraph">Here is come text about whatever this slide represents. The size will be reduced to make it look more sleek.</p>
  </div>
</div>
<div class="multi_image_div_main_div">
  <div id="multi_image_div_image_div_2" class="full_page_image">
      <div class="multi_image_div_image_cover"></div>
    <img src="{% static 'images/Full_Page_Image_2.jpg' %}" alt="Nader Filler" class="multi_image_div_image_image">
    <p class="multi_image_div_paragraph">Here is come text about whatever this slide represents. The size will be reduced to make it look more sleek.</p>
  </div>
</div>
<div class="multi_image_div_main_div">
  <div id="multi_image_div_image_div_2" class="full_page_image">
    <div class="multi_image_div_image_cover"></div>
    <img src="{% static 'images/Full_Page_Image_2.jpg' %}" alt="Nader Filler" class="multi_image_div_image_image">
    <p class="multi_image_div_paragraph">Here is come text about whatever this slide represents. The size will be reduced to make it look more sleek.</p>
  </div>
</div>

{% comment %} Begin Live Chat Section {% endcomment %}
<span id="open_close_chat_bot_aside">
  <img
    id="chat_bot_image"
    src="{% static 'images/logos/SB_Logo_White.png' %}"
    alt="SB Logo"
  />
</span>
<div id="chat_bot_side_nav_div">
  <div id="chat_bot_convo_div">
    <div id="activate_chat_window_inner_div"></div>
    <div id="chat_bot_conversation_display_div"></div>
    <div id="user_input_div">
      <textarea
        class="form-control"
        id="user_input_input"
        type="text"
        rows="3"
        placeholder="Enter your inquiry here."
      ></textarea>
    </div>
    <div id="user_input_submit_div">
      <input
        id="user_input_submit_submit"
        class="form-control"
        type="submit"
        role="submit"
      />
    </div>
  </div>
</div>
<div id="activated_chat_full_page_modal"></div>
<div id="hover_for_live_chat"><p>Live Chat</p></div>
<div id="click_for_live_chat_div">
  <p>Click on Sarsour And Brown Logo for live chat.</p>
</div>
<div id="created_hover_div"></div>
<div id="live_chat_hover_close_div">
  <i id="live_chat_hover_close" class="far fa-times-circle"></i>
</div>
<div id="live_chat_live_chat_close_div">
  <i id="live_chat_live_chat_close_icon" class="far fa-times-circle"></i>
</div>
{% comment %} End Live Chat Section {% endcomment %}

<div class="selection_separator_outer_div">
  <div class="selection_seperator_inner_div"></div>
</div>

<div class="container" id="home-main-container">
  <div class="row">
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
        arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
        Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
        dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
        tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
        enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
        imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
        ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
        eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
        sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
        hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec
        vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit
        amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris
        sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget
        bibendum sodales, augue velit cursus nunc,
      </p>
    </div>
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
        arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
        Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
        dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
        tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
        enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
        imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
        ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
        eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
        sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
        hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec
        vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit
        amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris
        sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget
        bibendum sodales, augue velit cursus nunc,
      </p>
    </div>
  </div>
</div>
{% endblock %}
