
<span id="open_close_chat_bot_aside">
    <img id="chat_bot_image" src="{% static 'images/SB_Logo_White.png' %}" alt="SB Logo">
</span>
<div id="chat_bot_side_nav_div">

    <div id="chat_bot_convo_div">
        <div id="chat_bot_user_input">
        </div>
        <div id="chat_bot_chat_bot_reply">
        </div>
    </div>
</div>

<div id="hover_for_live_chat">
    <p>Live Chat</p>
</div>
<div id="click_for_live_chat_div">
    <p>Click on Sarsour And Brown Logo for live chat.</p>
</div>

<div id="created_hover_div"></div>

<div id="live_chat_chevron_arrow">
    <i id="chevron_arrow" class="fas fa-chevron-circle-right"></i>
</div>
