{% extends 'home/base.html' %}
{% load staticfiles %}

{% block privacy_policy %}

<div class="container" id="privacy_policy_container">

    <h3>Introduction</h3>

    <p>Sarsour & Brown, LLC (Sarsour & Brown) respects your privacy and is committed to protecting it through its
        compliance with this policy. This Policy sets forth Sarsour & Brown’s Privacy Policy for its Web/blog sites and
        describes the practices that
        Sarsour & Brown will follow with respect to the privacy of users of this site. From time to time, Sarsour &
        Brown may change this Privacy Policy. As we update and improve our service, new features may require
        modifications to the Privacy Policy.
        Please note that you are not a client, and an attorney-client relationship does not exist just by submitting an
        inquiry, in any format, until you are engaged and pay a retainer to Sarsour & Brown, LLC.</p>

    <h5>Types of Data and Collection Methods</h5>

    <p>This Privacy Policy applies to information that may be collected via any format, actively or passively
        submitted,
        including, but not limited to:</p>

    <ul>
        <li>
            Emailing, calling, or communicating with the lawyer or law firm.
        </li>
        <li>
            Posting a question or comment through the site.
        </li>
        <li>
            Requesting literature, ebooks, and tools.
        </li>
        <li>
            Registering to attend a seminar or any event.
        </li>
        <li>
            Participating in an online survey.
        </li>
        <li>
            Requesting inclusion in an email or other mailing list.
        </li>
        <li>
            Submitting an entry for a contest or other promotions.
        </li>
        <li>
            Any other business-related reason.
        </li>
        <li>
            Data passively tracked by us through mobile and desktop applications you download from this Website, which
            provide dedicated non-browser-based interaction between you and this Website.
        </li>
        <li>
            Data passively tracked by us when you interact with our advertising and applications on third-party
            websites and
            services, if those applications or advertising include links to this policy.
        </li>
    </ul>


    <p>It does not apply to information collected by:</p>
    <ul>
        <li>
            Sarsour & Brown, offline, or through any other means, including on any other website or any third party
            (including our
            affiliates and subsidiaries); or
        </li>
        <li>
            Any third party (including our affiliates and subsidiaries), including through any application or content
            (including advertising) that may link to or be accessible from or on the Website.
        </li>
    </ul>

    <p>Please note that unless you also actively submit personal information such as your name or address, passively
        tracked data does not typically allow us to identify you personally. To the extent permitted by applicable law,
        we
        reserve the right to combine passively tracked data with personal data that you actively submit.</p>

    <p>Please read this policy carefully to understand our policies and practices regarding your information and how we
        will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By
        accessing or using this Website, you agree to this privacy policy. This policy may change from time to time,
        and
        will be updated accordingly. Your continued use of this Website after we make changes is deemed to be
        acceptance of
        those changes, so please check the policy periodically for said updates.</p>


    <h5>Collection Purposes, Use of Data</h5>

    <p>We collect passively tracked data primarily for the general purposes of administering, protecting and improving
        our
        site and our systems, to better understand the preferences of our site visitors, to identify server problems,
        to
        compile aggregated statistics about site usage, and to help personalize your experience of our site.</p>

    <p>We use information that we collect about you or that you provide to us, including any personal information:</p>
    <ul>
        <li>
            To provide you with information, products, or services that you request from us.
        </li>
        <li>
            To fulfill any other purpose for which you provide it.
        </li>
        <li>
            To provide you with notices about your account, including expiration and renewal notices.
        </li>
        <li>
            To carry out our obligations and enforce our rights arising from any contracts entered into between you and
            us,
            including for billing and collection.
        </li>
        <li>
            To notify you about changes to our Website or any products or services we offer or provide though it.
        </li>
        <li>
            To allow you to participate in interactive features on our Website.
        </li>
        <li>
            In any other way we may describe when you provide the information.
        </li>
        <li>
            For any other purpose with your consent.
        </li>
    </ul>

    <p>Our primary goal in collecting personal information is to provide you with a safe, smooth, efficient, and
        customized experience. We may use your personal information to provide the services and customer support you
        request, send you targeted marketing, service update notices, and based on your communications preferences, and
        compare information for accuracy and verify it with third parties.</p>

    <h5>Information You Provide to Us.</h5>

    <p>The information we collect on or through our Website may include:</p>

    <ul>
        <li>
            Information that you provide by filling in forms on our Website. This includes information provided at the
            time
            of registering to use our Website, subscribing to our service, posting material, or requesting further
            services. We
            may also ask you for information when you enter a contest or promotion sponsored by us, and when you report
            a
            problem with our Website.
        </li>
        <li>
            Records and copies of your correspondence (including email addresses), if you contact us.
        </li>
        <li>
            Your responses to surveys that we might ask you to complete for research purposes.
        </li>
        <li>
            Details of transactions you carry out through our Website and of the fulfillment of your orders. You may be
            required to provide financial information before placing an order through our Website.
        </li>
        <li>
            Your search queries.
        </li>
    </ul>

    <p>You also may provide information to be published or displayed on public areas of the Website, or transmitted to
        other users of the Website or third parties. Your provided information are posted on and transmitted to others
        at
        your own risk. Although we limit access to certain pages, please be aware that no security measures are perfect
        or
        impenetrable. Additionally, we cannot control the actions of other users of the Website with whom you may
        choose to
        share your provided information. Therefore, we cannot and do not guarantee that your provided information will
        not
        be viewed by unauthorized persons.</p>


    <h5>Information We Collect Through Automatic Data Collection Technologies.</h5>

    <p>As you navigate through and interact with our Website, we may use automatic data collection technologies to
        collect
        certain information about your equipment, browsing actions, and patterns, including:</p>

    <ul>
        <li>
            Details of your visits to our Website, including traffic data, location data, logs, and other communication
            data
            and the resources that you access and use on the Website.
        </li>
        <li>
            Information about your computer and internet connection, including your IP address, operating system, and
            browser
            type.
        </li>
    </ul>

    <p>The information we collect automatically may include personal information or we may maintain it or associate it
        with personal information we collect in other ways or receive from third parties. It helps us to improve our
        Website and to deliver a better and more personalized service, including by enabling us to:</p>

    <ul>
        <li>
            Estimate our audience size and usage patterns.
        </li>
        <li>
            Store information about your preferences, allowing us to customize our Website according to your individual
            interests.
        </li>
        <li>
            Speed up your searches.
        </li>
        <li>
            Recognize you when you return to our Website.
        </li>
    </ul>


    <h5>Disclosure of Your Information</h5>

    <p>We may disclose aggregated information about our users, and information that does not identify any individual,
        without restriction.</p>

    <p>We may disclose personal information that we collect or you provide as described in this privacy policy:</p>

    <ul>
        <li>
            To our subsidiaries and affiliates.
        </li>
        <li>
            To contractors, service providers, and other third parties we use to support our business.
        </li>
        <li>
            To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization,
            dissolution,
            or other sale or transfer of some or all of Sarsour & Brown’s assets, whether as a going concern or as part
            of
            bankruptcy, liquidation, or similar proceeding, in which personal information held by Sarsour & Brown about
            our
            Website users is among the assets transferred.
        </li>
        <li>
            To fulfill the purpose for which you provide it.
        </li>
        <li>
            For any other purpose disclosed by us when you provide the information.
        </li>
        <li>
            With your consent.
        </li>
    </ul>

    <p>We may also disclose your personal information:</p>

    <ul>
        <li>
            To comply with any court order, law, or legal process, including to respond to any government or regulatory
            request.
        </li>
        <li>
            Other agreements, including for billing and collection purposes.
        </li>
        <li>
            If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Sarsour
            &
            Brown, our customers, or others.
        </li>
    </ul>


    <h5>Cookies</h5>

    <p>A cookie is a message that web servers pass to your web browser when you visit Internet sites. Your browser
        stores
        each message in a small file, and when you request another page from the server, your browser sends the cookie
        back
        to the server. It is a small file that a Web site transfers to your computer to allow it to remember specific
        information about your session while you are connected. Your computer will only share the information in the
        cookie
        with the Web site that provided it, and no other Web site can request it.</p>

    <p>When browsing SarsourAndBrown.com, a cookie may be used to identify your browser as one that has visited the Web
        site before.</p>

    <p>Sarsour & Brown may also make use of memory-based cookies in support of authenticating the user of certain Web
        applications. Although you have the ability to modify your browser to either accept all cookies, notify you
        when a
        cookie is sent, or reject all cookies, it may not be possible to utilize Sarsour & Brown’s services that
        require
        registration if you reject cookies. To make use of certain features on our site, visitors need to provide
        limited
        information about themselves and their interests so that we can tailor the information we provide to their
        needs.</p>


    <h5>Children’s Online Privacy Protection Act</h5>

    <p>The Children’s Online Privacy Protection Act (COPPA) governs information gathering online from or about children
        under the age of 13. This Website is not intended for children under 13 years of age. No one under age 13 may
        provide any information to or on the Website. Sarsour & Brown does not knowingly collect personal information
        from
        children under 13. If you are under 13, do not use or provide any information on this Website or on or through
        any
        of its features. If anyone at Sarsour & Brown learns that we have collected or received personal information
        from a
        child under 13 without verification of parental consent, we will delete that information.</p>


    <h5>Data Security</h5>

    <p>Sarsour & Brown has security measures in place to protect the confidentiality and security of your personally
        identifiable information. These measures include both online and offline security measures, including
        firewalls,
        passwords and restricted physical access to the places where your personally identifiable information is
        stored.
        Unfortunately, the transmission of information via the internet is not completely secure. Although we do our
        best
        to protect your personal information, we cannot guarantee the security of your personal information transmitted
        to
        our Website. Any transmission of personal information is at your own risk. We are not responsible for
        circumvention
        of any privacy settings or security measures contained on the Website.</p>

    <h5>Contact Information</h5>

    <p>To ask questions or comment about this privacy policy and our privacy practices, contact us at:</p>

    <div class="container" id="privacy_policy_contact_info_container">
        <div class="col">
            <div class="row">
                <p>Sarsour & Brown, LLC</p>
                <hr>
            </div>
            <div class="row">
                <p>2 Maritime Plaza</p>
                <hr>
            </div>
            <div class="row">
                <p>3rd Floor</p>
                <hr>
            </div>
            <div class="row">
                <p>Toledo, Ohio 43604</p>
            </div>
        </div>
    </div>

</div>

{% comment %} Begin Live Chat Section {% endcomment %}
<span id="open_close_chat_bot_aside">
    <img id="chat_bot_image" src="{% static 'images/logos/SB_Logo_White.png' %}" alt="SB Logo">
</span>
<div id="chat_bot_side_nav_div">
    <div id="chat_bot_convo_div">
        <div id="activate_chat_window_inner_div">
        </div>
        <div id="chat_bot_conversation_display_div">
        </div>
        <div id="user_input_div">
            <textarea class="form-control" id="user_input_input" type="text" rows="3" placeholder="Enter your inquiry here."></textarea>
        </div>
        <div id="user_input_submit_div">
            <input id="user_input_submit_submit" class="form-control" type="submit" role="submit">
        </div>
    </div>
</div>
<div id="activated_chat_full_page_modal"></div>
<div id="hover_for_live_chat">
    <p>Live Chat</p>
</div>
<div id="click_for_live_chat_div">
    <p>Click on Sarsour And Brown Logo for live chat.</p>
</div>
<div id="created_hover_div"></div>
<div id="live_chat_hover_close_div">
    <i id="live_chat_hover_close" class="far fa-times-circle"></i>
</div>
<div id="live_chat_live_chat_close_div">
    <i id="live_chat_live_chat_close_icon" class="far fa-times-circle"></i>
</div>
{% comment %} End Live Chat Section {% endcomment %}

{% endblock %}