<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        Introduction
        Sarsour & Brown, LLC (Sarsour & Brown) respects your privacy and is committed to protecting it through its compliance with this policy. This Policy sets forth Sarsour & Brown’s Privacy Policy for its Web/blog sites and describes the practices that Sarsour & Brown will follow with respect to the privacy of users of this site. From time to time, Sarsour & Brown may change this Privacy Policy. As we update and improve our service, new features may require modifications to the Privacy Policy.
       Please note that you are not a client, and an attorney-client relationship does not exist just by submitting an inquiry, in any format, until you are engaged and pay a retainer to Sarsour & Brown, LLC.
   Types of Data and Collection Methods
   This Privacy Policy applies to information that may be collected via any format, actively or passively submitted, including, but not limited to:
   • Emailing, calling, or communicating with the lawyer or law firm.
   • Posting a question or comment through the site.
   • Requesting literature, ebooks, and tools.
   • Registering to attend a seminar or any event.
   • Participating in an online survey.
   • Requesting inclusion in an email or other mailing list.
   • Submitting an entry for a contest or other promotions.
   • Any other business-related reason.
   • Data passively tracked by us through mobile and desktop applications you download from this Website, which provide dedicated non-browser-based interaction between you and this Website.
   • Data passively tracked by us when you interact with our advertising and applications on third-party websites and services, if those applications or advertising include links to this policy.
   It does not apply to information collected by:
   • us offline or through any other means, including on any other website or any third party (including our affiliates and subsidiaries); or
   • any third party (including our affiliates and subsidiaries), including through any application or content (including advertising) that may link to or be accessible from or on the Website.
   Please note that unless you also actively submit personal information such as your name or address, passively tracked data does not typically allow us to identify you personally. To the extent permitted by applicable law, we reserve the right to combine passively tracked data with personal data that you actively submit.
   Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time, and will be updated accordingly. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for said updates.
   Collection Purposes, Use of Data
   We collect passively tracked data primarily for the general purposes of administering, protecting and improving our site and our systems, to better understand the preferences of our site visitors, to identify server problems, to compile aggregated statistics about site usage, and to help personalize your experience of our site. We use information that we collect about you or that you provide to us, including any personal information:
   • To provide you with information, products, or services that you request from us.
   • To fulfill any other purpose for which you provide it.
   • To provide you with notices about your account, including expiration and renewal notices.
   • To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.
   • To notify you about changes to our Website or any products or services we offer or provide though it.
   • To allow you to participate in interactive features on our Website.
   • In any other way we may describe when you provide the information.
   • For any other purpose with your consent.
   Our primary goal in collecting personal information is to provide you with a safe, smooth, efficient, and customized experience. We may use your personal information to provide the services and customer support you request, send you targeted marketing, service update notices, and based on your communications preferences, and compare information for accuracy and verify it with third parties.
   Information You Provide to Us. 
    The information we collect on or through our Website may include:
   • Information that you provide by filling in forms on our Website. This includes information provided at the time of registering to use our Website, subscribing to our service, posting material, or requesting further services. We may also ask you for information when you enter a contest or promotion sponsored by us, and when you report a problem with our Website.
   • Records and copies of your correspondence (including email addresses), if you contact us.
   • Your responses to surveys that we might ask you to complete for research purposes.
   • Details of transactions you carry out through our Website and of the fulfillment of your orders. You may be required to provide financial information before placing an order through our Website.
   • Your search queries.
   You also may provide information to be published or displayed on public areas of the Website, or transmitted to other users of the Website or third parties. Your provided information are posted on and transmitted to others at your own risk. Although we limit access to certain pages, please be aware that no security measures are perfect or impenetrable. Additionally, we cannot control the actions of other users of the Website with whom you may choose to share your provided information. Therefore, we cannot and do not guarantee that your provided information will not be viewed by unauthorized persons.
   Information We Collect Through Automatic Data Collection Technologies.  
   As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:
   • Details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website.
   • Information about your computer and internet connection, including your IP address, operating system, and browser type.
   The information we collect automatically may include personal information or we may maintain it or associate it with personal information we collect in other ways or receive from third parties. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:
   • Estimate our audience size and usage patterns.
   • Store information about your preferences, allowing us to customize our Website according to your individual interests.
   • Speed up your searches.
   • Recognize you when you return to our Website.
   Disclosure of Your Information
        We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.
   We may disclose personal information that we collect or you provide as described in this privacy policy:
   • To our subsidiaries and affiliates.
   • To contractors, service providers, and other third parties we use to support our business.
   • To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Sarsour & Brown’s assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Sarsour & Brown about our Website users is among the assets transferred.
   • To fulfill the purpose for which you provide it.
   • For any other purpose disclosed by us when you provide the information.
   • With your consent.
   We may also disclose your personal information:
   • To comply with any court order, law, or legal process, including to respond to any government or regulatory request.
   • Other agreements, including for billing and collection purposes.
   • If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Sarsour & Brown, our customers, or others.
   Cookies
   A cookie is a message that web servers pass to your web browser when you visit Internet sites. Your browser stores each message in a small file, and when you request another page from the server, your browser sends the cookie back to the server. It is a small file that a Web site transfers to your computer to allow it to remember specific information about your session while you are connected. Your computer will only share the information in the cookie with the Web site that provided it, and no other Web site can request it. 
   When browsing SarsourAndBrown.com, a cookie may be used to identify your browser as one that has visited the Web site before.
   Sarsour & Brown may also make use of memory-based cookies in support of authenticating the user of certain Web applications. Although you have the ability to modify your browser to either accept all cookies, notify you when a cookie is sent, or reject all cookies, it may not be possible to utilize Sarsour & Brown’s services that require registration if you reject cookies. To make use of certain features on our site, visitors need to provide limited information about themselves and their interests so that we can tailor the information we provide to their needs.
   Children’s Online Privacy Protection Act 
   The Children’s Online Privacy Protection Act (COPPA) governs information gathering online from or about children under the age of 13. This Website is not intended for children under 13 years of age. No one under age 13 may provide any information to or on the Website. Sarsour & Brown does not knowingly collect personal information from children under 13. If you are under 13, do not use or provide any information on this Website or on or through any of its features. If anyone at Sarsour & Brown learns that we have collected or received personal information from a child under 13 without verification of parental consent, we will delete that information. 
    Data Security
        Sarsour & Brown has security measures in place to protect the confidentiality and security of your personally identifiable information. These measures include both online and offline security measures, including firewalls, passwords and restricted physical access to the places where your personally identifiable information is stored.
   Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Website. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Website.
    Contact Information
    To ask questions or comment about this privacy policy and our privacy practices, contact us at:
   Sarsour & Brown, LLC
   2 Maritime Plaza
   3rd Floor
   Toledo, OH 43604
   
</body>
</html>