{% extends "home/base.html" %}

{% block testimonials_body %}
<div class="container">
    <div class="container">

        <h3>Best Video On the Planet</h3>
        <iframe id="bots_video_1" class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/JA0GFYs3x1s"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="container">
        <h3>Debatably the best video</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TnAvj7B2fIU" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="container">
        <h3>Ok, this is definitely the best...</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bBCJ9qlXL-E" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>

    </div>


</div>

{% endblock %}